.back-button {
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5vw;
    width: 60vw;
    color: #3C4E59;
}

.error-wrapper h1 {
    font-size: 8vw;
}

.error-wrapper h3 {
    margin-top: -5vw;
    font-size: 3vw;
}

.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    height: 100vh;
}

.react-icons {
    vertical-align: middle;
    margin-top: -0.5rem;
    padding-right: 0.5rem;
  }

.weather-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40vw;
    border: 2px solid white;
    border-radius: 10px;
    overflow: auto;
    animation: fadeIn 1s;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2px;
}

.row-2 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-left: 5.5vw;
    margin-top: -6vw;
}

.row-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-top: -2.5vw; */
}

.row-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
}

.loading-wrapper {
    width: 100vw;
    margin: 22vw;
    display: flex;
    justify-content: center;

}

.loading {
    width: 50px;
}

.w-icon {
    width: 15vw;
    margin-right: 30px;
}

.w-temp {
    font-size: 12vw;
    margin: 2px;
    padding-left: 4vw;
    color: #3C4E59;
    z-index: 1;
}

.hi-lo {
    color: #3C4E59;
    font-size: 2vw;
    z-index: 2;
}

.w-deg-l {
    position: relative;
    bottom: 20%;
    left: 2%;
    font-size: 7vw;
    color: #3C4E59

}

.w-deg-s {
    position: relative;
    bottom: 5%;
    left: 3%;
    font-size: 2vw;
    color: #3C4E59

}

.w-city {
    margin-top: -2vh;
    font-size: 3vw;
    color: white;
}

.w-realfeel, .w-sunrise, .w-sunset {
    margin-top: -1.5vw;
    color: #3C4E59;
}

.music-section {
    display: flex;
    flex-direction: column;
    align-items:  center;
    width: 40%;
    height: 40vw;
    border: 2px solid white;
    border-radius: 10px;
    animation: fadeIn 1s;

}

.m-desc {
    display: flex;
    width: 80%;
    color:#3C4E59;
    text-align: center;
}

.m-songs {
    display: flex;
    flex-direction: column;
    width: 80%;

}

.m-song {
    color:#3C4E59;
    font-size: 1.25vw;
    margin: 0.5vw;
}

.m-desc h1 {
    font-size: 2vw;
}

.m-song-title {
    font-size: 1.75vw;
}

.m-song-artist {
    font-size: 1.1vw;
    color: white;
    opacity: 70%;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

